<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>406434833992-9mdk3e102v1sq587naim4l61geo620pb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.406434833992-9mdk3e102v1sq587naim4l61geo620pb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>406434833992-dfijnc9guhed6fps3fuqjep4fteaqas4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB73RlprGAPpgAosvmp47mtE1ujexHsZKk</string>
	<key>GCM_SENDER_ID</key>
	<string>406434833992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.travellog3</string>
	<key>PROJECT_ID</key>
	<string>travellog3</string>
	<key>STORAGE_BUCKET</key>
	<string>travellog3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:406434833992:ios:1bce80f0943f223e241a7d</string>
</dict>
</plist>